# "Temporary" dependencies for developing, 
# for final dependencies use pyproject.toml

voila 
pdf2image
ipywidgets 
nbformat
pandas
seaborn
matplotlib
scipy
numpy
sympy
bokeh

ipykernel
ipympl
jupyter
jupyterlab_widgets
